@model IEnumerable<Vodly.Models.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    @Html.ActionLink("Add Customer", "New","Customers",null, new { @class= "btn btn btn-success", style="margin-top:20px;"})
    </div>
    @if (Model.Count() > 0)
    {
        <h2>Customers List</h2>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Customers</th>
                    <th>Member Ship Type</th>
                    <th>Discount rate</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.ActionLink(item.Name, "CustomerDetail", new { id = item.Id })</td>
                        <td>@item.MemberShipType.Name</td>
                        <td>@item.MemberShipType.DiscountRate%</td>
                    </tr>
                }
            </tbody>

        </table>
    }
    else
    {
        <h2>Doesn´t exist any customer!!</h2>
    }
</div>